{
    auto_https off
    admin off
}

:5000 {
    handle /api/* {
        reverse_proxy localhost:3000
    }
    
    handle /uploads/* {
        file_server {
            root /app/uploads
        }
    }
    
    handle {
        reverse_proxy localhost:4200
    }
}
